.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid;
  border-color: light-dark(black, white);
  border-radius: 0.5rem;
  background-color: light-dark(white, black);
  width: 10rem;
}
