.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-button {
  margin: 1rem 0;
}
