nav,
footer {
  width: 100%;
  height: 6rem;
  place-content: center;
}

/* Navbar */
nav {
  border-bottom: 1px solid black;
}

.nav-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  border: thin solid black;
  border-radius: 5rem;
  padding: 1rem 2rem;
  background-color: light-dark(var(--yellow-1), var(--dark2));
  box-shadow:
    0 0 0 0.5rem rgba(255, 255, 224, 0.6),
    0 0 0 1rem rgba(255, 255, 224, 0.4),
    0 0 0 2rem rgba(255, 255, 224, 0.2);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  transition: box-shadow 0.5s;

  &:hover {
    cursor: pointer;
    box-shadow:
      -0.5rem 0.5rem var(--blue),
      0 0 0 0.5rem rgba(255, 255, 224, 0.6),
      0 0 0 1rem rgba(255, 255, 224, 0.4),
      0 0 0 2rem rgba(255, 255, 224, 0.2);

    transition: none;
  }
}

[data-theme="dark"] .nav-center {
  border: 1px solid white;
  box-shadow:
    0 0 0 0.5rem rgba(17, 17, 17, 0.6),
    0 0 0 1rem rgba(17, 17, 17, 0.4),
    0 0 0 2rem rgba(17, 17, 17, 0.2);

  &:hover {
    cursor: pointer;
    box-shadow:
      -0.5rem 0.5rem var(--blue),
      0 0 0 0.5rem rgba(17, 17, 17, 0.6),
      0 0 0 1rem rgba(17, 17, 17, 0.4),
      0 0 0 2rem rgba(17, 17, 17, 0.2);
  }
}

/* Footer */
footer {
  border-top: 1px solid black;
}

.footer-wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
