nav,
footer {
  width: 100%;
  height: 6rem;
  place-content: center;
}

/* Navbar */
nav {
  border-bottom: 1px solid light-dark(black, white);
}

.nav-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  border: thin solid light-dark(black, white);
  border-radius: 5rem;
  padding: 1rem 2rem;
  background-color: light-dark(var(--yellow-1), var(--dark2));
  box-shadow:
    0 0 0 0.5rem var(--nav-shadow-color),
    0 0 0 1rem var(--nav-shadow-color-2),
    0 0 0 2rem var(--nav-shadow-color-3);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  display: flex;
  gap: 1rem;

  transition: box-shadow 0.5s;

  &:hover {
    cursor: pointer;
    box-shadow:
      -0.5rem 0.5rem var(--blue),
      0 0 0 0.5rem var(--nav-shadow-color),
      0 0 0 1rem var(--nav-shadow-color-2),
      0 0 0 2rem var(--nav-shadow-color-3);
    transition: none;
  }
}

.active {
  font-weight: bold;
}

/* Navbar END */

/* Footer */
footer {
  border-top: 1px solid black;
}

.footer-wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
